@font-face {
    font-family: 'The Matter';
    font-weight: 700;
    src: url(../font/thematter-bold_6c43ee73.woff2) format("woff2"),
    url(../font/thematter-bold_a41f650d.woff) format("woff");
}

html, body {
    /* background: #ebe4cf;  */
    background: #fbf8ed;
    font-family: 'Bai Jamjuree', serif;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    line-height: 1.5;
    font-size: 16px; 
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', 'The Matter', serif;
    text-align: center;   
}

.hidden {
    display: none;
}

#editorial {
    text-align: center;
    width: 60%;
    margin: 40px auto;
}

#footnote {
    font-size: 14px;
    color: #666;
    padding-top: 24px; 
}


#streamgraph {
    display: inline-block;
    text-align: center;
    width: 49%; 
    vertical-align: top;
}
.grid, .xaxis path {
    stroke: #000;
    stroke-opacity: 0.25;
    stroke-width: 1px; 
}
.hoverarea {
    fill-opacity: 0; 
    cursor: pointer; 
}
.highlight-area {
    fill: url(#hover-gradient);
}
.highlight-line {
    stroke: #e6e0cb;
    stroke-width: 1px; 
}

#date {
    display: inline-block;
    border-bottom: 1px solid #ef314a;
    font-family: 'Libre Baskerville', 'The Matter', serif;
    font-style: italic;
    line-height: 1.4;
    margin: 15px 0;
    padding: 5px 0;
}

#reference {
    display: inline-block;
    width: 49%; 
    text-align: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 16px;
    overflow: hidden;
}

.xaxis .tick line {
    stroke: #fbf8ed;
    stroke-width: 2px;
}

.xaxis .tick text, .bar-label {
    font-family: 'Bai Jamjuree', serif;
    font-weight: 400;
    font-size: 12px;
    fill: #444;
}

.bar-label-x, .bar-label-y {
    font-family: 'Bai Jamjuree', serif;
    font-weight: 400;
    font-size: 14px;
    fill: #444;
}

#top-post {
    width: 500px;
    font-size: 12px; 
}

