@font-face {
    font-family: 'The Matter';
    font-weight: 700;
    src: url(../font/thematter-bold_6c43ee73.woff2) format("woff2"),
    url(../font/thematter-bold_a41f650d.woff) format("woff");
}

html, body {
    /* background: #ebe4cf;  */
    background: #e7e9e4;
    font-family: 'Bai Jamjuree', serif;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #444;
    line-height: 1.5;
    font-size: 16px; 
    font-weight: 300;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', 'The Matter', serif;
    text-align: center;   
}

.hidden {
    display: none;
}

#editorial {
    text-align: center;
    margin: 40px auto;
}

#footnote {
    font-size: 14px;
    color: #666;
    padding-top: 24px; 
}

#streamgraph {
    display: inline-block;
    text-align: center;
    width: 49%; 
    vertical-align: top;
}
.grid, .xaxis path {
    stroke: #000;
    stroke-opacity: 0.15;
    stroke-width: 1px; 
}
.hoverarea {
    fill-opacity: 0; 
    cursor: pointer; 
}
.highlight-area {
    fill: #cdd0c7;
    fill-opacity: 0.4; 
}
/* .highlight-line {
    stroke: #e6e0cb;
    stroke-width: 1px; 
} */

#date {
    display: inline-block;
    border-bottom: 1px solid #ef314a;
    font-family: 'Libre Baskerville', 'The Matter', serif;
    font-style: italic;
    line-height: 1.4;
    margin: 15px 0;
    padding: 5px 0;
}

#reference-container {
    display: inline-block;
    width: 49%; 
    text-align: left;
    position: -webkit-sticky; 
    position: sticky;
    top: 0px; 
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 20px; 
}

.xaxis .tick line {
    stroke: #e7e9e4;
    stroke-width: 2px;
}

.xaxis .tick text, .bar-label {
    font-family: 'Bai Jamjuree', serif;
    font-weight: 400;
    font-size: 12px;
    fill: #444;
}

.bar-label-x, .bar-label-y {
    font-family: 'Bai Jamjuree', serif;
    font-weight: 400;
    font-size: 14px;
    fill: #444;
}

#top-post {
    font-size: 12px; 
}

@media screen and (max-device-width: 640px){
    html, body {
        padding: 0px;
        margin: 0px;
    }

    h1, h2, h3 {
        padding: 0 20px;
    }
    
    #editorial {
        padding: 0 20px;
    }

    #streamgraph {
        width: 100%;
    }

    #reference-container {
        border-bottom: 20px solid rgba(231,233,228,0.0);
        box-shadow: 0 5px 5px #00000011;
        max-height: 400px;
        width: 100%;
        top: 0; 
        background: rgba(231,233,228,0.9);
    } 
}

@media screen and (min-width: 1024px){
    #editorial {
        width: 75%;
    }
}